
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3498db;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Georgia;
  line-height: 1.5em;
  font-size: 14px;
  text-shadow: 0 0 6px rgba(0,0,0,.25);
  margin: 0;
  overflow: hidden;
}

a {
  color: #fff;
}

#canvas {
  flex-grow: 1;
  position: relative;
}

article {
  padding: 16px;
  z-index: 2;
  background-color: rgba(52, 152, 219, .8);
}


/* Star credit: https://css-tricks.com/examples/ShapesOfCSS/ */
.star {
  margin: 50px 0; 
  display: block; 
  color: #fff;
  width: 0px; 
  height: 0px; 
  border-right: 100px solid transparent; 
  border-bottom: 70px solid #fff; 
  border-left: 100px solid transparent; 
  -moz-transform: rotate(35deg); 
  -webkit-transform: rotate(35deg); 
  -ms-transform: rotate(35deg); 
  -o-transform: rotate(35deg);

  position: absolute;
  top: 0;
  left: 0;
} 

.star:before { 
  border-bottom: 80px solid #fff; 
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent; 
  position: absolute; 
  height: 0; 
  width: 0; 
  top: -45px; 
  left: -65px; 
  display: block; 
  content: ''; 
  -webkit-transform: rotate(-35deg); 
  -moz-transform: rotate(-35deg); 
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg); 
} 

.star:after { 
  position: absolute; 
  display: block; 
  color: #fff; 
  top: 3px; 
  left: -105px; 
  width: 0px; 
  height: 0px; 
  border-right: 100px solid transparent; 
  border-bottom: 70px solid #fff; 
  border-left: 100px solid transparent; 
  -webkit-transform: rotate(-70deg); 
  -moz-transform: rotate(-70deg); 
  -ms-transform: rotate(-70deg); 
  -o-transform: rotate(-70deg); 
  content: ''; 
}